@use "foundation/variables" as *;

.p-top-interview {
  & {
    width: 192rem;
    height: 111.3rem;
    background-image: url(../img/top/interview/interview_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 18rem;
    padding: 16rem 0;
    position: relative;

    @media (max-width: 767px) {
      width: 37.5rem;
      height: 77.8rem;
      background-image: url(../img/top/interview/interview_sp-bg.png);
      margin-top: 9.6rem;
      padding: 9.6rem 0;
    }

    &::before {
      content: "";
      width: 15.5rem;
      height: 19.2rem;
      background-image: url(../img/top/interview/interview_obj.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -5.6rem;
      right: 32rem;

      @media (max-width: 767px) {
        width: 10.8rem;
        height: 13.4rem;
        right: 3.4rem;
      }
    }

    &__txt-obj {
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        width: 25.4rem;
        height: 2rem;
        background-image: url(../img/top/interview/ttl_obj.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: -.4rem;
        left: 0;
        z-index: -1;

        @media (max-width: 767px) {
          width: 19.4rem;
          height: 1.6rem;
        }
      }
    }

    &__swiper {
      width: 100%;
      height: 54rem;
      margin-top: 8rem;

      @media (max-width: 767px) {
        height: 34rem;
        margin-top: 6.4rem;
      }
    } 

    &__swiper-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
    }

    &__swiper-slide {
      &.swiper-slide-active {
        .p-top-interview__swiper-link,
        .p-top-interview__swiper-img {
          width: 44.5rem;
          height: 44.5rem;

          @media (max-width: 767px) {
            width: 26rem;
            height: 26rem;
          }
        }
      }
    }

    &__swiper-link,
    &__swiper-img {
      width: 33rem;
      height: 33rem;
      transform-origin: top;
      transition: width 1s ease, height 1s ease;

      @media (max-width: 767px) {
        width: 22rem;
        height: 22rem;
      }
    }

    &__swiper-img {
      aspect-ratio: 330 / 330;

      @media (max-width: 767px) {
        aspect-ratio: 220 / 220;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 3rem;
        object-fit: cover;

        @media (max-width: 767px) {
          border-radius: 2rem;
        }
      }
    }

    &__img-wrap {
      position: relative;
    }

    &__name {
      color: $color-white;
      font-size: 2rem;
      line-height: 100%;
      padding: 1.2rem;
      border-radius: .5rem;
      position: absolute;
      bottom: 3rem;
      right: -1.2rem;
      z-index: 1;

      @media (max-width: 767px) {
        font-size: 1.6rem;
        padding: .8rem;
        border-radius: .2rem;
        bottom: 2.4rem;
        right: -.8rem;
      }
    }

    &__txt {
      font-weight: 500;
      font-size: 2rem;
      line-height: 150%;
      letter-spacing: .05em;
      color: #333;
      display: -webkit-inline-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      width: 33rem;
      margin-top: 2.4rem;

      @media (max-width: 767px) {
        font-size: 1.6rem;
        width: 22rem;
      }
    }

    &__pagination {
      width: 39rem;
      height: .5rem;
      background-color: #FDE6AD;
      border-radius: 100vmax;
      margin: 0 0 0 auto;
      position: relative;

      @media (max-width: 767px) {
        width: 100%;
        margin-top: 3.2rem;
      }
    }

    .swiper-pagination-progressbar-fill {
      width: 100%;
      height: .4rem;
      display: inline-block;
      background-color: #f4b400;
      border-radius: 100vmax;
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: left;
    }

    &__btn-wrap {
      margin-top: 5.6rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media (max-width: 767px) {
        margin-top: 4rem;
        justify-content: center;
      }
    }
  }
}