@use "foundation/variables" as *;

.c-loop {
  & {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;

    &__item {
      padding-right: 2rem;
      flex-shrink: 0;

      &:nth-child(odd) {
        animation: loop 80s -40s linear infinite;
      }

      &:nth-child(even) {
        animation: loop2 80s linear infinite;
      }
    }
  }
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-200%);
  }
}