@use "foundation/variables" as *;

.c-tabbtn-list {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 10.4rem;

    @media (max-width: 767px) {
      justify-content: flex-start;
      gap: 1.6rem;
      margin-top: 6.4rem;
    }

    &__item {
      color: $color-white;
      font-weight: 600;
      font-size: 2rem;
      line-height: 100%;
      background-color: #0D8352;
      border-radius: 1rem;
      padding: 1.6rem;
      opacity: .5;
      transition: all .5s;
      cursor: pointer;

      @media (max-width: 767px) {
        font-size: 1.6rem;
        padding: 1.2rem;
      }

      &.is-active {
        opacity: 1;
      }
    }
  }
}