@use "foundation/variables" as *;

.p-career-fv {
  & {
    &__ttl {
      margin-top: 12rem;

      @media (max-width: 767px) {
        margin-top: 6.4rem;
      }
    }

    &__txt-obj {
      position: relative;

      &::before {
        content: "";
        width: 55.2rem;
        height: 6.3rem;
        background-image: url(../img/career/fv/ttl_obj.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: -2.4rem;
        left: 0;
        z-index: -1;

        @media (max-width: 767px) {
          width: 31rem;
          height: 3.6rem;
          bottom: -1.4rem;
        }
      }
    }
  }
}